.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flights__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flight {
  display: flex;
  padding: 2em;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 25%;
  margin: 10px;
  /* border: 1px solid black; */
  background: linear-gradient(to right, #CAFBE8, #dcf7ed);
  border-radius: 16px;
}

.flight__title  {
  font-size: 2em;
  text-align: center;
  color: #2F4858;
  margin: 0.7em;
}

.flight__info {
  display: flex;
}

.flight__button {
  height: 30px;
  background-color: #3BB3B7;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 7px;
}

.flight__times {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav {
  width: 100%;
  background: linear-gradient(to right, #3BB3B7, #7FFFD4);
  margin-bottom: 20;
  padding: 15px;
  text-align: center;
}

.nav__link {
  padding: 0px 20px;
  text-decoration: none;
  font-weight: bold;
  color: #2F4858
}
