body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
}

table {
  width: 100%;
}

table tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  background-color: #7FFFD4;
  color: #336A7C;
}

table tr:hover {
  background-color: #3BB3B7;
color: white}





.search__container {
  
  display: flex;
  border-radius: 50px;
  justify-content: space-around;
  align-content: center;
  row-gap: 3em;
  align-items: center;
  height: 400px;
  background: linear-gradient(to right,#adfae0, #7fffd4, #adfae0);
  /* background-color: #7fffd4; */
  width: 80%;
  margin: 0 auto;
  margin-top: 10em;
  flex-wrap: wrap;
}



.search__inputs select, .search__date, .search__people {
  border: 0;
  outline: 0;
  height: 50px;
  width: 200px;
  

}

label {
  color: #2F4858;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


.search__inputs:first-of-type
 {
  margin-top: 39px;
 }

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 15px;
 
}

.search__button {
  padding: 1em;
  font-weight: bold;
  background-color: #3BB3B7;
  color: white;
  border: none;
  /* box-shadow: 0 0 10px grey; */
  height: 50px;
  width: 100px;
  margin-top: 25px;

}

.search__title {
  color: #2F4858;
  flex-basis: 100%;
  text-align: center;
  font-size: 4em;
  margin: 0 0;
}

.search__results {
  width: 80%;
  margin: 5em auto;
}

svg {
  margin: 5em auto;
  
}


@keyframes ldio-hmrmmska1oq { 0% { transform: rotate(0) } 100% { transform: rotate(360deg); } }
.ldio-hmrmmska1oq > div {
  animation: ldio-hmrmmska1oq 1s infinite linear;
  transform-origin: 100px 100px;
}
.ldio-hmrmmska1oq > div div { position: absolute; }
.ldio-hmrmmska1oq > div div:nth-child(1), .ldio-hmrmmska1oq > div div:nth-child(2) {
  width: 164px;
  height: 164px;
  border: 24px solid;
  border-radius: 50%;
  border-color: transparent #7fffd4 #7fffd4 #7fffd4;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 100px 100px;
}
.ldio-hmrmmska1oq > div div:nth-child(1) {
  transform: rotate(45deg) translate(18px, 18px);
}
.ldio-hmrmmska1oq > div div:nth-child(2) {
  transform: rotate(0deg) translate(18px, 18px);;
}
.ldio-hmrmmska1oq > div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 24px solid;
  border-color: transparent transparent transparent #7fffd4;
  transform: translate(100px, 6px);
}
.loadingio-spinner-reload-c8ho0od0x2l {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-hmrmmska1oq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-hmrmmska1oq div { box-sizing: content-box; }
/* generated by https://loading.io/ */






 .svg-calLoader {
	 width: 230px;
	 height: 230px;
	 transform-origin: 115px 115px;
	 animation: 1.4s linear infinite loader-spin;
}
 .cal-loader__plane {
	 fill: #7FFFD4;
}
 .cal-loader__path {
	 stroke: #2F4858;
	 animation: 1.4s ease-in-out infinite loader-path;
}
 @keyframes loader-spin {
	 to {
		 transform: rotate(360deg);
	}
}
 @keyframes loader-path {
	 0% {
		 stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
	}
	 50% {
		 stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
	}
	 100% {
		 stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
	}
}